<div class="page-body">
  <div class="row">
    <div class ="col-md-3">
      <div id="user_info">
        <%= image_tag @user.display_photo, class: "user-picture" %>
        <span>
          <h1 id="username"><%= @user.username %></h1>
            <% if @user.nil? || @user != current_user %>
            <% else @user && current_user %>
          <form action="<%=edit_user_registration_path%>">
            <input type="submit" class="btn btn-primary btn-xs" value="Edit your profile">
          </form>
        </span><br>
            <% end %>
      </div>  
    </div>  

    <div class="subheader user-tabs-nav">
      <div class="col-md-5" id="my-tracks">
          <div>
            <% if @user.nil? || @user != current_user %>
              <h2>Track Projects</h2>
            <% else %>
              <h2>Your Track Projects</h2>
            <% end %>
            <% unless @songs.empty? %>
              <div class="list-group" id="personal_tracks">
                <% @songs.each do |song| %>
                <a href="/songs/<%= song.id %>" class="list-group-item">
                <h4 class="list-group-item-heading"><%= song.title %></h4>
                <p class="list-group-item-text">
                  <audio controls>
                  <source src="<%= song.song_url.url %>" type="audio/mpeg">
                    Your browser does not support the audio tag.
                  </audio><br>
                </p>
                </a>
                <% end %>
              </div>
             <% else %> 
              <h3><%= @user.username %> has no songs</h3>
             <% end %>
          </div>
        </div> 
          <div class ="col-md-4 transparent" id="my-contributes">
            <h2>Songs contributed to</h2>
            <% unless @contributed_songs.empty? %>
              <div class="list-group" id="contributed_tracks">
                <% @contributed_songs.each do |song| %>
                  <a href="/songs/<%= song.id %>" class="list-group-item">
                  <h4 class="list-group-item-heading"><%= song.user.username %> - <strong><%= song.title %></strong></h4>
                  <p class="list-group-item-text"></p>
                  </a>
                <% end %>
              </div>
              <% else %>
                <h3><%= @user.username %> has no contributions</h3>
              <% end %>
          </div>
    </div> 
  </div>
</div>  