<h1>Edit your track's details:</h1>

<%= form_for(@song) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  <br>
<% end %>
 
<%= link_to "Delete", song_path(@song), :class => "btn btn-default", :method => :delete, :data => {:confirm => "Are you sure?"} %> 
 