<h1>Edit your track's details:</h1>

<%= form_for(@song) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  <br>
<% end %>
 
<a data-confirm="Are you sure?" data-method="delete" href="<%= "/songs/#{@song.id}"%>" rel="nofollow" class="btn btn-default" role="button">Delete</a>