
<div class="page-body">
  <div class="row">
    <div class ="col-md-3">
      <div id="user_info">
        <%if current_user.photo %>
          <%= image_tag current_user.photo.url, class: "user-picture" %>
        <% else %>
          <img src="/app/assests/images/annonymous-profile.jpg">
        <% end %>

        <span>
          <h1 id="username"><%= current_user.username %></h1>
            <% if current_user.nil? %>
            <% else current_user %>
          <form action="<%=edit_user_registration_path%>">
            <input type="submit" class="btn btn-primary btn-xs" value="Edit your profile">
          </form>
        </span><br>
            <% end %>
      </div>  
    </div>  

    <div class="subheader user-tabs-nav">
      <div class="col-md-5" id="my-tracks">
          <div>
            <% if current_user.nil? %>
              <h1>Track Projects</h1>
            <% else %>
              <h3>Your Track Projects</h3>
            <% end %>
              <div class="list-group" id="personal_tracks">
                <% @songs.each do |song| %>
                <a href="/songs/<%= song.id %>" class="list-group-item">
                <h4 class="list-group-item-heading"><%= song.title %></h4>
                <p class="list-group-item-text">
                  <audio controls>
                  <source src="<%= song.song_url.url %>" type="audio/mpeg">
                    Your browser does not support the audio tag.
                  </audio><br>
                </p>
                </a>
                <% end %>
              </div>
          </div>
        </div> 
        <div class ="col-md-4 transparent" id="my-contributes">
          <h3>Tracks contributed to</h3>
          <div class="list-group" id="contributed_tracks">
            <% if @contributed_songs.any?%>
              <% @contributed_songs.each do |song| %>
              <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading"><%= song.user.username %> - <%= song.title %></h4>
              <p class="list-group-item-text"></p>
              </a>
              <% end %>
            <% else %>
              <h3>There are no contributed tracks</h3>
            <% end %>
          </div>
        </div>
       </div> 
  </div>
</div>  