<h1>Start a new track</h1>

<%= form_for(@song) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :tag_list, "Tags" %><br>
    <%= f.text_field :tag_list %>
  </div><br>

  <div class="field">
    <%= f.label :song_url, "Upload Song" %><br>
    <%= f.file_field :song_url %>
  </div><br>


  <div class="actions">
    <%= f.submit %>
  </div>
  <br>
<% end %>





