<div ng-app="app">
  <div ng-controller="songsCtrl" ng-init="init(<%= @song.id %>)">

    
    <ul class="nav nav-sidebar" id="team-members">
      <h3>Song members</h3>
      <li ng-repeat="teamMember in teamMembers">
        <a href="/users/<%= @song.user_id %>">{{ teamMember.username }}</a>
      </li>
      <%if @members.include?(current_user) %>
        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">Add song member </button>
      <% end %>
    </ul>



    <div id="current-song">
      <div>
        <h1 class="song-title"><%= @song.title %></h1>
        <%if @members.include?(current_user) %>
          <a href="/songs/<%=@song.id%>/edit">Edit details</a>         
        <% end %>
      </div><br>

        <audio controls>
          <source src="<%= @song.song_url.url %>" type="audio/mpeg">Your browser does not support the audio tag.
        </audio>
        <div id="player">
          <div id="wave"></div>
          <div class="centered">
            <a href="#" id="play-button" class="btn btn-primary"><span id="play-button-span" class="glyphicon glyphicon-play"></span></a>
          </div>
        </div>

      <%if @members.include?(current_user) %>
        <button id="new-version-btn"class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal2">Contribute to the track </button>
      <% end %>
    </div><br>

    <div id="version_page">
      <% @versions.each_with_index do |version, index| %>
        
          <div class="panel-group" id="accordion">
            <div class="panel panel-default" ng-hover="color(this)">
              <a class="version-user" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index.to_s %>">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <span>
                      <div>
                        <strong>  
                          Version #<%= version.version_number %> 
                        </strong>
                        <span class="version-username"><%= version.user.username %>  &nbsp<%= image_tag version.user.photo.url, class: "version-picture" %>
                        </span>
                      </div> 
                    </span>
                    <p id="version-message"><%= version.message %></p>
                  </h4>
                </div>
              </a>
              <div id="collapse<%= index.to_s %>" class="panel-collapse collapse">
                <div class="panel-body">
                  <p><%= version.message %></p>
                    <audio controls>
                      <source src="<%= version.song_url.url %>" type="audio/mpeg">
                      Your browser does not support the audio tag.
                    </audio> 
                  <a href="<%= version_download_path(version.id) %>" class="btn btn-warning btn-xs">Download</a>
                </div>
              </div>
            </div>
          </a>
        <% end %><br>
      </div>
    </div>
    

    <!-- Modal stuff -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Add a song member!</h4>
          </div>
          <div class="modal-body">
            
                <%= form_tag('/team_members') do %>
              <div class="field">
                <datalist id="users" >
                  <option ng-repeat="user in users" value="{{ user.username }}">
                </datalist>
              <%= hidden_field_tag :song_id, @song.id %>
              <%= label_tag :username, "A song member can contribute to this current track. Type a username to add as a song member:"  %>
                <br>
                <input id="username" name="username" type="text" list="users"/>
              </div><br>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Add a song member">        
            <% end %> 
          </div>
        </div>
      </div>
    </div><br>
  
  

    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Upload your contibution!</h4>
          </div>
          <div class="modal-body">
            
              
              <%= form_for(@version) do |f| %>
              <%= f.hidden_field :song_id, value: @song.id %>
              <%= f.hidden_field :version_number, value: @version.version_number %>

            <div class="field">
              <%= f.label :message, "Describe the changes you've made to the track:" %><br>
              <%= f.text_field :message %>
            </div><br>

            <div class="field">
              <%= f.label :song_url, "Upload the mastered song" %><br>
              <%= f.file_field :song_url %>
            </div><br>

            <div class="field">
              <%= f.label :unmastered_file, "Upload the unmastered song" %><br>
              <%= f.file_field :unmastered_file %>
            </div><br>
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary actions" value="Commit your contribution">        
            <% end %> 
          </div>
        </div>
      </div>
    </div>

  <!-- End of Modal stuff -->


  </div>  
</div> 

<!-- wavesurfer -->

<script>
  $(function() {
    var wavesurfer = Object.create(WaveSurfer);
    var playState = "paused";

    wavesurfer.init({
        container: document.querySelector('#wave'),
        waveColor: 'violet',
        progressColor: 'purple'
    });

    $("#play-button").click(function(){
      if(playState === "paused") {
        wavesurfer.play();
        playState = "playing";
        $("#play-button-span").removeClass("glyphicon-play");
        $("#play-button-span").addClass("glyphicon-pause");
      } else {
        wavesurfer.pause();
        playState = "paused";
        $("#play-button-span").removeClass("glyphicon-pause");
        $("#play-button-span").addClass("glyphicon-play");
      }
    });

    wavesurfer.load("<%= @song.song_url.url %>");
  });
</script>