<% if @songs.any? %>
  <% @songs.each do |song| %>
    <h4><a href="/songs/<%=song.id%>"><%=song.title%><a></h4>
    <p><a href="/users/<%= song.user_id%>"><%=song.user.username%></a></p>
  <% end %>
<% end %>

<% if @users.any? %>
  <% @users.each do |user| %>
    <h4><a href="/users/<%= user.id %>"><%= user.username %></a></h4>
  <% end %>
<% end %>

<% unless @songs.any? || @users.any? %>
  <h4>There are no results found for your search</h4>
<% end %>