<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= @title %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
   
  </head>

  <body>
      <% if current_user %>
      <nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/songs">MusicApp</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search" action="/search" method="get">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Find a track" name="q">
        </div>
        <input type="submit" class="btn btn-default" value="Search">
      </form>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user.nil? %>
        <li><a href="/users/sign_in">Sign In</a></li>
        <% end %>
        <li class="dropdown onhover" id="new_button">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">+<span </span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href=<%= new_song_path %>>Personal Track</a></li>
            <li><a href=<%=new_version_path%>>Team Track</a></li>
          </ul>
        </li>
            
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %><span </span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
          <% if current_user %>
              <li class="divider"></li>
              <li><a data-method="delete" rel="nofollow" href="/users/sign_out">Sign Out</a></li>
          <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% else %>

<nav class="navbar navbar-inverse" role="navigation">
  <div id="start-of-content" class="accessibility-aid"></div>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/songs">MusicApp</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.nil? %>
        <li><a href="/users/sign_in">Sign In</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% end %>
  <% if action_name == "new" && controller_name == "registrations" %>
    <div>
  <% else %>
    <div class="container">
  <% end %>
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %>">
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>